.idea
.run
.vscode
src/helm_values_wizard.egg-info
**/__pycache__/
.coverage
.tox/
venv
*.log
*.sqlite
self_signed_cert_generation/client
self_signed_cert_generation/server
self_signed_cert_generation/testca

# Mac
.DS_Store

# Infra
custom-values.yaml
