[FORMAT]

# Maximum number of characters on a single line.
max-line-length=120


[MASTER]
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W1202, # logging-format-interpolation
    W0703, # broad-except
    W1201, # logging-not-lazy
    W1203, # logging-fstring-interpolation
    E1121, # too-many-function-args
    R0914, # too many local variables
    R0913, # too many local variables
    R0903, # too few public methods
    R0801, # Similar lines in 2 files

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=20
