apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.global.appName }}-frontend-config
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ .Values.global.appName }}
data:
  {{ if .Values.global.authenticationEnabled }}
  VITE_AUTHENTICATION_REQUIRED: {{ .Values.global.authenticationEnabled | quote }}
  {{ end }}
  {{ if .Values.rescWebServiceUrl }}
  VITE_RESC_WEB_SERVICE_URL: {{ .Values.rescWebServiceUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.redirectUri }}
  VITE_SSO_REDIRECT_URI: {{ .Values.ssoConfig.redirectUri }}
  {{ end }}
  {{ if .Values.ssoConfig.idTokenIssuerUrl }}
  VITE_SSO_ID_TOKEN_ISSUER_URL: {{ .Values.ssoConfig.idTokenIssuerUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.authorizationUrl }}
  VITE_SSO_AUTHORIZATION_URL: {{ .Values.ssoConfig.authorizationUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.tokenEndPointUrl }}
  VITE_SSO_TOKEN_ENDPOINT_URL: {{ .Values.ssoConfig.tokenEndPointUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.idTokenJwksUrl }}
  VITE_SSO_ID_TOKEN_JWKS_URL: {{ .Values.ssoConfig.idTokenJwksUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.accessTokenJwksUrl }}
  VITE_SSO_ACCESS_TOKEN_JWKS_URL: {{ .Values.ssoConfig.accessTokenJwksUrl }}
  {{ end }}
  {{- if .Values.ssoConfig.scope }}
  VITE_SSO_SCOPE: {{ .Values.ssoConfig.scope }}
  {{- end }}
  {{- if .Values.ssoConfig.clientId }}
  VITE_SSO_CLIENT_ID: {{ .Values.ssoConfig.clientId }}
  {{- end }}
  {{ if .Values.ssoConfig.ssoCodeChallengeMethod }}
  VITE_SSO_CODE_CHALLENGE_METHOD: {{ .Values.ssoConfig.ssoCodeChallengeMethod }}
  {{ end }}
  {{ if .Values.ssoConfig.ssoJwtSigningAlgorithm }}
  VITE_SSO_JWT_SIGNING_ALOGORITHM: {{ .Values.ssoConfig.ssoJwtSigningAlgorithm }}
  {{ end }}
  {{ if .Values.ssoConfig.ssoLoginPageMessage }}
  VITE_SSO_LOGIN_PAGE_MESSAGE: {{ .Values.ssoConfig.ssoLoginPageMessage }}
  {{ end }}
