apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.global.appName }}-frontend-config
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ .Values.global.appName }}
data:
  {{ if .Values.global.authenticationEnabled }}
  VUE_APP_AUTHENTICATION_REQUIRED: {{ .Values.global.authenticationEnabled | quote }}
  {{ end }}
  {{ if .Values.rescWebServiceUrl }}
  VUE_APP_RESC_WEB_SERVICE_URL: {{ .Values.rescWebServiceUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.redirectUri }}
  VUE_APP_SSO_REDIRECT_URI: {{ .Values.ssoConfig.redirectUri }}
  {{ end }}
  {{ if .Values.ssoConfig.idTokenIssuerUrl }}
  VUE_APP_SSO_ID_TOKEN_ISSUER_URL: {{ .Values.ssoConfig.idTokenIssuerUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.authorizationUrl }}
  VUE_APP_SSO_AUTHORIZATION_URL: {{ .Values.ssoConfig.authorizationUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.tokenEndPointUrl }}
  VUE_APP_SSO_TOKEN_ENDPOINT_URL: {{ .Values.ssoConfig.tokenEndPointUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.idTokenJwksUrl }}
  VUE_APP_SSO_ID_TOKEN_JWKS_URL: {{ .Values.ssoConfig.idTokenJwksUrl }}
  {{ end }}
  {{ if .Values.ssoConfig.accessTokenJwksUrl }}
  VUE_APP_SSO_ACCESS_TOKEN_JWKS_URL: {{ .Values.ssoConfig.accessTokenJwksUrl }}
  {{ end }}
