apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.global.appName }}-frontend
  namespace: {{ .Values.global.namespace }}
  labels:
    app: {{ .Values.global.appName }}
    tier: frontend
  annotations:
    datree.skip/SERVICE_INCORRECT_TYPE_VALUE_NODEPORT: irrelevant as frontend needs to be exposed outside of the cluster
    {{- if .Values.service }}
    {{- if .Values.service.annotations }}
    {{- range $key, $val := .Values.service.annotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end }}
    {{- end }}
    {{- end }}
spec:
  {{ if .Values.exposeToHostPort }}
  type: NodePort
  {{ end }}
  ports:
    - port: {{ .Values.port }}
      targetPort: {{ .Values.port }}
      {{ if .Values.exposeToHostPort }}
      nodePort: {{ .Values.exposeToHostPort }}
      {{ end }}
  selector:
    app: {{ .Values.global.appName }}
    tier: frontend
