[report]
fail_under=39
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
omit =
    src/vcs_scanner/constants.py
    src/vcs_scanner/output_module.py
    src/vcs_scanner/resc_worker.py
show_missing=true
