apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.global.appName }}-repository-collector
  namespace: {{ .Values.global.namespace }}
spec:
  selector:
    matchLabels:
      app: {{ .Values.global.appName }}
      tier: repository-collector
  replicas: 1
  template:
    metadata:
      labels:
        app: {{ .Values.global.appName }}
        tier: repository-collector
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
        {{- with include "resc.repositoryCollectorAnnotations" .}}
          {{- nindent 8 .}}
        {{- end }}
    spec:
      {{ if .Values.global.serviceAccountName }}
      serviceAccountName: {{ .Values.global.serviceAccountName }}
      {{ end }}
      containers:
      - name: {{ .Values.global.appName }}-{{ .Values.vcsTypeShort }}-repository-collector
        image: {{ .Values.VCSScraper.image.repository | default .Values.global.VCSScraper.image.repository }}{{ .Values.VCSScraper.image.name | default .Values.global.VCSScraper.image.name }}:{{ .Values.VCSScraper.image.tag | default .Values.global.VCSScraper.image.tag }}
        imagePullPolicy: {{ .Values.VCSScraper.image.pullPolicy | default .Values.global.VCSScraper.image.pullPolicy }}
        command: ["sh", "-c"]
        args: [ "{{ .Values.preStartUpCommand }} celery -A vcs_scraper.repository_collector.common worker --loglevel={{ .Values.config.loglevel }} -E -Q projects"]
        resources:
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
        envFrom:
          - configMapRef:
              name: {{ .Values.global.appName }}-repository-collector-config
          - configMapRef:
              name: {{ .Values.global.appName }}-rabbitmq-config
          {{ if eq .Values.useKubernetesSecret "true"}}
          - secretRef:
              name: {{ .Values.global.appName }}-vcs-instances-secret
          - secretRef:
              name: {{ .Values.global.appName }}-rabbitmq-user-secret
          {{ end }}
        volumeMounts:
          - name: config-volume
            mountPath: {{ .Values.config.vcs_instance_file_path }}
            subPath: vcs_instances_config.json
        env:
          - name: GET_HOSTS_FROM
            value: dns
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.global.appName }}-vcs-instances-config
      restartPolicy: {{ .Values.restartPolicy }}
      {{ if .Values.global.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.global.imagePullSecret }}
      {{ end }}