.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
  }
  
  .card-header {
    font-size: small;
    height: 38px;
  }
  
  .card-header-pills {
    margin-top: -0.3rem;
  }
  
  .card-text {
    margin: 10px;
    font-size: small;
  }
  