/* SideBar Navigation */
.sidebar-closed {
  padding-left: 65px;
  transition-duration: 0.3s;
}

.sidebar-opened {
  padding-left: 250px;
  transition-duration: 0.3s;
}

.vsm--item > a.vsm--link_level-1 > .svg-inline--fa {
  padding: 5px !important;
}

.v-sidebar-menu {
  --vsm-item-color: #fff;
  --vsm-base-bg: var(--bs-secondary);
  --vsm-icon-active-bg: var(--bs-secondary);
  --vsm-toggle-btn-bg: var(--bs-secondary-lighter);
  --vsm-item-open-bg: var(--bs-secondary);
  --vsm-dropdown-bg: var(--bs-secondary);
  --vsm-item-line-height: 30px;
  --vsm-icon-height: 20px;
  --vsm-icon-width: 20px;
  --vsm-item-font-size: 14px;
  --vsm-item-padding: 10px;
  --vsm-icon-bg: var(--bs-secondary);

  .vsm--header {
    font-size: 12px;
    padding: 10px;
  }

  .vsm--icon {
    background-color: var(--bs-secondary);
    height: 20px;
    line-height: 20px;
    width: 20px;
    padding: 5px;
  }
  
  .vsm--link_level-1.vsm--link_exact-active,
  .vsm--link_level-1.vsm--link_active {
    box-shadow: 3px 0 0 0 #00ffae inset;
  }

  .vsm--mobile-item {
    display: none;
  }

  .vsm--toggle-btn {
    height: 50px;
  }
}

.vsm--mobile-bg {
  background-color: var(--bs-secondary);
}

.collapse-arrow {
  cursor: pointer;
  color: #37aba1;
}
