[flake8]
max-line-length = 120
per-file-ignores =
    src/repository_scanner_backend/db/model/__init__.py:E402,F401
    src/repository_scanner_backend/resc_web_service/api.py:E402,F401,F403,F811
    src/repository_scanner_backend/resc_web_service/dependencies.py:B902
    src/repository_scanner_backend/resc_web_service/schema/rule.py:F722
    src/repository_scanner_backend/resc_web_service/schema/rule_pack.py:F722
    src/repository_scanner_backend/bin/rule_pack_initialization.py:E402
