port: 8000
replicas: 1
workers: 1
nameSuffix: 

resources:
  requests:
    cpu: 400m
    memory: 400M
  limits:
    cpu: 750m
    memory: 1G

exposeToHostPort: 

resc:
  image:
    repository:
    name:
    tag:
    pullPolicy:
  config:
    dbConnectionString: "invalid"
    dbHost: 
    dbPort: 1433
    dbSchema: 
    dbUser: 
    dbPass: 
    odbcDriver: "ODBC Driver 18 for SQL Server"
    dbDSN: "rescdb"
    dbUseAzureTokenAuth:
    dbManagedIdentityClientId:
    redisPass:
  authRequired: "true"
  ssoConfig:
    ssoAccessTokenIssuerUrl: ""
    ssoAccessTokenJwksUrl: ""
    ssoJwtSignAlgorithm: ""
    ssoJwtRequiredClaims: ""
    soJwtClaimKeyUserId: ""
    ssoJwtClaimKeyAuthorization: ""
    ssoJwtClaimValueAuthorization: ""
  corsAllowedDomains: ""
  enableCORS: "true"

ingress:
  path: "/resc"

additionalLabels:
useKubernetesSecret: "true"
enableIngress: "false"
preStartUpCommand: "export MSSQL_DB_HOST=$RESC_MS_DATABASE_SERVICE_HOST;"
service:
  annotations: