flake8==3.9.2
flake8-blind-except==0.1.1
flake8-builtins==1.5.3
flake8-polyfill==1.0.2
flake8-tabs==2.2.2
flake8-variables-names==0.0.3
isort==4.3.21
pytest==7.1.2
mock==4.0.2
pytest-cov==2.10.0
tox==3.23.1
pylint==2.14.5
