apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.global.appName }}-vcs-scanner-secrets
  namespace: {{ .Values.global.namespace }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      tier: {{ .Values.global.appName }}-vcs-scanner-secrets
  template:
    metadata:
      labels:
        tier: {{ .Values.global.appName }}-vcs-scanner-secrets
      annotations:
        rollme: {{ randAlphaNum 5 | quote }}
        {{- with include "resc.vcsScannerSecretsAnnotations" .}}
          {{- nindent 8 .}}
        {{- end }}
    spec:
      {{ if .Values.global.serviceAccountName }}
      serviceAccountName: {{ .Values.global.serviceAccountName }}
      {{ end }}
      containers:
      - name: {{ .Values.global.appName }}-{{ .Values.vcsTypeShort }}-vcs-scanner-secrets
        image: {{ .Values.image.repository | default .Values.global.rescSecretScanner.image.repository }}{{ .Values.image.name | default .Values.global.rescSecretScanner.image.name }}:{{ .Values.image.tag | default .Values.global.rescSecretScanner.image.tag }}
        imagePullPolicy: {{ .Values.image.pullPolicy | default .Values.global.rescSecretScanner.image.pullPolicy }}
        command: ["sh", "-c"]
        args: ["{{ .Values.preStartUpCommand }} celery  -A  vcs_scanner.secret_scanners.celery_worker worker --loglevel={{ .Values.config.loglevel }} -E -Q {{ .Values.config.rabbitmq_queue }} --concurrency=1  --pool=solo"]
        resources:
          requests:
            cpu: {{ .Values.resources.requests.cpu }}
            memory: {{ .Values.resources.requests.memory }}
          limits:
            cpu: {{ .Values.resources.limits.cpu }}
            memory: {{ .Values.resources.limits.memory }}
        envFrom:
          - configMapRef:
              name: {{ .Values.global.appName }}-vcs-scanner-secrets-config
          - configMapRef:
              name: {{ .Values.global.appName }}-rabbitmq-config
          {{ if eq .Values.useKubernetesSecret "true"}}
          - secretRef:
              name: {{ .Values.global.appName }}-vcs-instances-secret
          - secretRef:
              name: {{ .Values.global.appName }}-rabbitmq-user-secret
          {{ end }}
        volumeMounts:
            - name: config-volume
              mountPath: {{ .Values.config.vcs_instance_file_path }}
              subPath: vcs_instances_config.json
        env:
          - name: GET_HOSTS_FROM
            value: dns
      volumes:
        - name: config-volume
          configMap:
            name: {{ .Values.global.appName }}-vcs-instances-config
      restartPolicy: {{ .Values.restartPolicy }}
      {{ if .Values.global.imagePullSecret }}
      imagePullSecrets:
        - name: {{ .Values.global.imagePullSecret }}
      {{ end }}
